In [ ]:
import numpy as np

In [ ]:
age=[12,13,14,15,16]
age_ar=np.array(age)
age_ar
type(age_ar)

In [ ]:
np.random.random(size=4)   #random float

In [ ]:
np.random.randint(2,size=4)

In [ ]:
np.random.random(size=3)*8

In [ ]:
np.random.random(size=3)%2

In [ ]:
np.random.rand(2,4)

In [ ]:
np.random.randint(2,4)

In [ ]:
np.random.randint(0,11,size=(3,3))

In [ ]:
even=np.arange(10,20,2)
print(even)

In [ ]:
odd=np.arange(start=11,stop=100,step=2)
print(odd)
type(odd)

In [ ]:
num=np.linspace(10,20,5)
num

In [ ]:
np.zeros(10)

In [ ]:
np.ones(10)

In [ ]:
matrix=np.empty((3,3),dtype=str)
matrix

In [ ]:
print(np.__version__)

In [ ]:
mat=np.full((3,3),fill_value=11)
mat

In [ ]:
np.identity(5)

In [ ]:
np.eye(5,5,0)

In [ ]:
np.eye(5,5,2)

In [ ]:
np.eye(5,5,-2)

In [ ]:
books=np.array([("Maths","gk","sci"),(20,21,22)])
print(books)

In [ ]:
books.size

In [ ]:
books=np.array([(1,2,3),(4,5,6)])
books

In [ ]:
books.dtype

In [ ]:
books.ndim

In [ ]:
book=books.reshape(6,1)
book

In [ ]:
data=np.array([("Charles",12),("Logan",13),("mina",15)])
data[-1]

In [ ]:
data[0][1]

In [ ]:
data[-1][0]

In [ ]:
weight=np.array([34,56,78,90,12,23])
weight[3:5]

In [ ]:
weight[-3:-1]

In [ ]:
weight[0::3]

In [ ]:
weight[:3]

In [ ]:
weight[0::2]

In [ ]:
np.random.rand(4,5)

In [ ]:
price=np.array([[3,4,5,6,7,8],
       [1,2,3,4,5,6],
       [2,3,4,5,6,7],
       [5,6,7,8,9,0]])
price

In [ ]:
price.shape

In [ ]:
price=np.array([[3,4,5,6,7,8]])

In [ ]:
rate=np.array([[1,2,3,4,5,6]])

In [ ]:
vstack_arr=np.vstack((price,rate))
vstack_arr

In [ ]:
hstack1=np.hstack((price,rate))
hstack1

In [ ]:
np.mean(price)

In [ ]:
np.std(price)

In [ ]:
# pandas
import pandas as pd
import numpy as np

In [ ]:
sal=pd.Series(
np.array([2000,3000,5000,6000]),
              index=np.arange(0,4,1)
)
sal

In [ ]:
emp=pd.Series(np.array([2000,6000,4000,5000,7000]),index=('a','b','c','d','e')
)
emp

In [ ]:
# Dictionary
pro={'Diary':23,"Soft":24,"Fruits":25}
prod=pd.Series(pro)
prod

In [ ]:
# create a dictionary
class_d={'x':["Mat","Eng","Hin"],
        "Y":["Red","Blue","Yellow"],
        "Z":"Sci"}
class_d=pd.Series(class_d)
class_d

In [ ]:
class_d.index

In [ ]:
class_d["x"]

In [ ]:
class_d["Z"]

In [ ]:
stu=pd.Series(np.array([450,560,780,360,230]),
             index=['Sop','Emma','Mia','Will','Lily'])
stu

In [ ]:
stu[stu>300]

In [ ]:
mr=pd.Series([12,17,13])
sale=pd.Series([20,30,40])

# multiply
total=mr.multiply(sale)
total

In [ ]:
mr=pd.Series([12,17,13])
sale=pd.Series([20,30,40])

# multiply
total=mr.add(sale)
total

In [ ]:
mr=pd.Series([12,17,13])
sale=pd.Series([20,30,40])

# multiply
total=mr.subtract(sale)
total

In [ ]:
mr=pd.Series([12,17,13])
sale=pd.Series([20,30,40])

# multiply
total=mr-(sale)
total

In [ ]:
score=np.array([190,130,140,150,160,170,180])
score=pd.Series(score)
score.rank()

In [ ]:
sales=pd.Series([190,130,np.nan,140,150,160,170,180])
sales.sort_values(ascending=True,na_position='last')

In [ ]:
height=pd.Series([4.4,7.8,5.6,np.nan,8,9])
height.isnull()

In [ ]:
height=pd.Series([4.4,7.8,5.6,np.nan,8,9])
height.notnull()

In [ ]:
# Concatenation of Pandas Series

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
c1=np.arange(0,10,1)
c2=np.arange(0,10,1)

c1s=pd.Series(data=c1)
c2s=pd.Series(data=c2)

pd.concat([c1s,c2s],ignore_index=True)

In [ ]:
c1s=pd.Series(np.arange(0,10,1))
c2s=pd.Series(np.arange(0,10,1))
c1s.append(c2s)

In [ ]:
ar1=np.random.randint(20,40,10)
ar1

In [ ]:
my=pd.Series(ar1)
my

In [ ]:
type(my)

In [ ]:
dir(my)

In [ ]:
myList=[12,34,67,89,90]

In [ ]:
mys=pd.Series(myList)
mys

In [ ]:
my=(12,34,"A",True,67,89)
my=pd.Series(my)
my

In [ ]:
# Dictionary
myD={'Name':'Mayank','Salary':50000,'Age':25}
myD=pd.Series(myD)
myD

In [ ]:
set2={12,13,45,67,89}
set2

In [ ]:
mys=pd.Series(set2)
mys

In [ ]:
myD

In [ ]:
myDic=pd.Series([12,16,17,13],index=['a','b','c','d'])
myDic

In [ ]:
Myl=[12,13,14,15,16]
Myl=pd.Series(Myl,index=['101','102','103','104','105'])
Myl

In [ ]:
class Layer:
    no_of_games=4
    def _init_(self,name,game):
        self.name=name
        self.game=game

    def printdetail(self):
        return f"The Name is {self.name}. game is {self.game}"
harry=Layer("Rishabh","Ludo")
print(harry.printdetail())

In [ ]:
Myl.add_prefix(prefix='std')

In [ ]:
Myl.add_suffix(suffix="int")

In [ ]:
import pandas as pd
import numpy as np
ser1=pd.Series([12,34,56,78,89,90])
ser1

In [ ]:
ser1.astype('float64')

In [ ]:
def myf(df):
    return df*10

In [ ]:
ser1.apply(myf)

In [ ]:
ser1.drop_duplicates()

In [ ]:
myD={'emp':[101,102,103,104,105],
    'emp':['Tej','Raj','pnj','abc','xyz'],
    'gender':['m','f','m','f','m'],
    'salary':[10,20,30,40,50]}

In [ ]:
myD

In [ ]:
myDic=pd.DataFrame(myD)
myDic

In [ ]:
myL=[[111,'J','DSA'],
    [112,'H','DA'],
    [113,'P','MBA']]
myL

In [ ]:
myL1=pd.DataFrame(myL,columns=['roll','Name','Course'],index=['a','b','c'])
myL1

In [ ]:
ser1=pd.Series(np.random.randint(20,60,5))
ser2=pd.Series(np.random.randint(30,70,5))
ser2

In [ ]:
# load trhe csv file

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("animal.csv")
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
# shape
df.shape

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe(include='all')

In [ ]:
df.isna().sum()

In [ ]:
mean=np.mean(df)
mean

In [ ]:
df['age'].fillna(3.3)

In [ ]:
df['age'].median()

In [ ]:
med=df['age'].fillna(df['age'].median())
med

In [ ]:
tempmean=df['age'].fillna(med)
df

In [ ]:
df['age']=df['age'].fillna(med)
df

In [ ]:
df[0:5]

In [ ]:
df[4:6]

In [ ]:
df['age']

In [ ]:
df[['animal','age']]

In [ ]:
# index based subsetting

df.iloc[0:,2:4]

In [ ]:
df.iloc[0:5,0:]

In [ ]:
df.loc[1:4,'age']

In [ ]:
df.loc[1:4,['age','animal']]

In [ ]:
df[df['age']>4]

In [ ]:
df['age'][df['age']>4]

In [ ]:
df.columns

In [ ]:
import numpy as np

In [ ]:
np.array([12,13,15])

In [ ]:
ar=np.array([12,13,True,'Ankit','Nikita'])
ar

In [ ]:
type(ar)

In [ ]:
list=[89,90,91,24,56]
list

In [ ]:
# multi dim array
l1=[101,102,103,104,105]
l2=[23,24,25,26,27]
ar1=np.array([list,l1,l2])
ar1

In [ ]:
ar2=np.random.randint(10,size=(3,4))
ar2

In [ ]:
ar3=np.random.randint(3,15,size=(1,4))
ar3

In [ ]:
ar4=np.random.randint(12,20,size=[3,4])
ar4

In [ ]:
ar4.shape

In [ ]:
ar4.dtype

In [ ]:
ar5=np.arange(12)
ar5

In [ ]:
ar1=np.arange(12,21,2)
ar1

In [ ]:
print(np.zeros((2,3)))

In [ ]:
print(np.ones((3,3)))

In [ ]:
ar1[2:3]

In [ ]:
ar1[[1,2,3]]

In [ ]:
ar1[[3,4,1]]

In [ ]:
myL=[12,13,14,15,16,17]
myL

In [ ]:
myL[4:5]

In [ ]:
myL[1:3]

In [ ]:
import numpy as np
arr=np.linspace(2,8,5)
arr

In [ ]:
ar1=arr.copy()
ar1

In [ ]:
ar1

In [ ]:
arr

In [ ]:
# arr=ar1

In [ ]:
ar1=np.array([(2,5,6),(8,9,10)])
ar1

In [ ]:
ar2=np.array([(3,4,5),[6,7,8]])
ar2

In [ ]:
import numpy as np

In [ ]:
vs=np.vstack((ar1,ar2))
vs

In [ ]:
hs=np.hstack((ar1,ar2))
hs

In [ ]:
np.mean(ar1)

In [ ]:
np.median(ar2)

In [ ]:
np.var(ar2)

In [ ]:
ar1+ar2

In [ ]:
print(ar1)
print(ar2)

In [ ]:
print(ar1-ar2)

In [ ]:
# comparison operator
ar1>ar2

In [ ]:
ar2=np.array([[0,1,2],[11,19,35]])
ar2

In [ ]:
ar1>ar2

In [ ]:
ar1=np.random.randint(10,26,size=(3,4))
ar1

In [ ]:
ar3=np.random.randn(3,4)
ar3

In [ ]:
ar3.reshape(6,2)

In [ ]:
ar5=np.array([12,34,56,78,90])
ar5

In [ ]:
ar5.dtype

In [ ]:
ar5.astype('float')

In [ ]:
myL=[12,34,56,78,90]
myL

In [ ]:
myL[2:3]=[111,111]
myL

In [ ]:
myL[1:]=120
myL

In [ ]:
myL=[12,34,56,78,90]
myL1=np.array(myL)
myL1

In [ ]:
myL1[1:]=120
myL1

In [ ]:
# pandas
import pandas as pd

In [ ]:
ar1=[11,12,13,14,15,16]
ar1

In [ ]:
mySer=pd.Series(ar1)
mySer

In [ ]:
type(mySer)

In [ ]:
dir(mySer)

In [ ]:
myL=[12,34,56,78,90]
myL

In [ ]:
myser=pd.Series(myL)
myser

In [ ]:
myT=(12,34,"Apple","Banana",89,True)
myse1=pd.Series(myT)
myse1

In [ ]:
# Dictionary

myD={'Name':'Mayank','Salary':50000,'Age':25}
myD

In [ ]:
myse=pd.Series(myD)
myse

In [ ]:
myset={12,13,14,15,16,17,18,19,20}
myset

In [ ]:
myset1=pd.Series(myset)
myset1                             #set type is unordered

In [ ]:
myser

In [ ]:
mys=pd.Series([12,13,14,15,16],index=['a','b','c','d','e'])
mys

In [ ]:
mys5=pd.Series(myL,index=['101','102','103','104','105'])
mys5

In [ ]:
mys5.add_prefix(prefix='std')

In [ ]:
mys5.add_suffix(suffix='std')

In [ ]:
myL=pd.Series([11,45,15,None,16,19,None])
myL

In [ ]:
myL.dtype

In [ ]:
# isna() 
print(myL.isna())

In [ ]:
myL.isna().sum()

In [ ]:
myL.isna().any()

In [ ]:
myL.dropna()

In [ ]:
myL.fillna(10)

In [ ]:
import numpy as np

In [ ]:
tempmean=np.mean(myL)
tempmean

In [ ]:
tempmed=np.nanmedian(myL)
tempmed

In [ ]:
myL.fillna(myL.median())

In [ ]:
myL.dtype

In [ ]:
mys5.astype('int32')

In [ ]:
def fun(df):
    return df*10

In [ ]:
mys5.apply(fun)

In [ ]:
myL.apply(fun)

In [ ]:
myL=pd.Series([12,13,14,15,16,17,12,13,18,19,20])
myL

In [ ]:
myL.drop_duplicates()

In [ ]:
import pandas as pd
import numpy as np
myD={'emp_id':[101,102,103,104,105],
'emp_name':['tej','palak','osman','anuj','sachin'],
'gender':['m','f','m','f','m'],
'salary':[10000,20000,30000,40000,50000]}
myD

In [ ]:
# DataFrame

myD1=pd.DataFrame(myD)
myD1

In [ ]:
myL=[[111,'J',"Dsa"],
     [222,'K','DA'],
     [333,'L','MBA'],
     [444,'M','CA']]
myL

In [ ]:
myDf=pd.DataFrame(myL,columns=['std','Name','Roll'])
myDf

In [ ]:
s1=pd.Series(np.random.randint(20,60,5))
s2=pd.Series(np.random.randint(35000,55000,5))
s2

In [ ]:
# Load the file
# read_csv() -- Method by which we load/readour csv file

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("C:\\Users\\hp\\Downloads\\Data_File.csv")
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.head(8)

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe(include='all')

In [ ]:
df.isna().sum()

In [ ]:
df['Variable_A'].fillna(10)

In [ ]:
df['Variable_A'].fillna(10)

In [ ]:
df['Variable_A'].fillna(df['Variable_B'].mean())

In [ ]:
tempm=df['Variable_A'].mean()
tempm=df['Variable_A'].fillna(tempm)
df

In [ ]:
tempm=df["Variable_A"].mean()
df["Variable_A"]=df["Variable_A"].fillna(tempm)
df

In [ ]:
df[0:5]

In [ ]:
df[2:7]

In [ ]:
df["Variable_A"]

In [ ]:
df[["Variable_C","Variable_A","Variable_B"]]

In [ ]:
# needs both rows and columns on index subsetting  (R,C)
# index based subsetting(iloc)
df.iloc[0:5,1:3]

In [ ]:
df.iloc[0:5,:]

In [ ]:
df.iloc[,1:3]

In [ ]:
df.iloc[:,1:3]

In [ ]:
df.loc[1:5,"Variable_A"]

In [ ]:
df.loc[1:5,["Variable_A","Variable_B"]]

In [ ]:
df["Variable_A"]>2

In [ ]:
df[df["Variable_A"]>2]

In [ ]:
df["Variable_A"][df["Variable_A"]>2]        #display the value that will be true

In [ ]:
df.columns

In [ ]:
df1=df.rename(columns={"Variable_A":"Variable_A_new","Variable_B":"Variable_B_new","Variable_C":"Variable_C_new",
                   "Variable_D":"Variable_D_new","Variable_E":"Variable_E_new","Variable_F":"Variable_F_new"})   #To rename
df1

In [ ]:
df1["Variable_F_new"]=df1["Variable_A_new"]*10
df1["Variable_F_new"]

In [ ]:
df1.drop(["Variable_A_new"],axis=1)
df1

In [ ]:
df1.drop(["Variable_B_new"],axis=1,inplace=True)
df1

In [ ]:
df1.drop(11,axis=0)

In [ ]:
df.drop([1,3],axis=0)

In [ ]:
df_copy=df.copy()
df_copy

In [ ]:
# concat()

row=pd.concat([df,df_copy],axis=0)
col=pd.concat([df,df_copy],axis=1)

In [ ]:
row

In [ ]:
col

In [ ]:
print(df.shape,df_copy.shape)

In [ ]:
row.shape

In [ ]:
col.shape

In [ ]:
df.groupby("Variable_E").count()

In [ ]:
df.groupby("Variable_E")["Variable_A"].mean()

In [ ]:
df["Variable_E"].value_counts()

In [ ]:
df["Variable_E"].count()

In [ ]:
# numpy

In [ ]:
import numpy as np

In [ ]:
print(np.char.center('hellio',20,fillchar='-'))

In [ ]:
print(np.char.capitalize("hello World"))

In [ ]:
print(np.char.title('how are you?'))

In [ ]:
print(np.char.split('are you coming?'))

In [ ]:
print(np.char.lower('HOW ARE YOU?'))

In [ ]:
print(np.char.upper('how are you?'))

In [ ]:
print(np.char.strip(['Nina','admin','anita'],'a'))

In [ ]:
print(np.char.join([':','-'],['day','yad']))

In [ ]:
print(np.char.replace("He is a good boy",'is','was'))

In [ ]:
# rollaxis
value=np.zeros((1,2,3,4,5,6,7,8,9,10))
val=np.rollaxis(value,5).shape
print(val)

In [ ]:
# swapaxis
value=np.ones((1,2,3,4,5,6,7,8,9,10))
val=np.swapaxes(value,5,6).shape
print(val)

In [ ]:
a=np.array((1,2,3,4,5))
b=np.array((5,6,7,8,9))
c=np.add(a,b)
print(c)

In [ ]:
a=np.array((1,2,3,4,5))
b=np.array((5,6,7,8,9))
c=np.subtract(a,b)
print(c)

In [ ]:
a=np.array((1,2,3,4,5))
b=np.array((5,6,7,8,9))
c=np.divide(a,b)
print(c)

In [ ]:
a=np.array((1,2,3,4,5))
b=np.array((5,6,7,8,9))
c=np.multiply(a,b)
print(c)

In [ ]:
se=("a","b","c","d","e","f","g","h","i","j","k","l")
x=slice(3,10,2)
print(se[x])

In [ ]:
# pandas

In [ ]:
import pandas as pd

In [ ]:
data={'animal':['cat','dog','snake'],
      'age':[2.5,3,np.nan],
      'visits':[1,3,2],
      'priority':['yes','no','yes']}
labels=['a','b','c']
df=pd.DataFrame(data,index=labels)
df

In [ ]:
# matplotlib

In [ ]:
from matplotlib import pyplot as plt
a=np.array([2087,2020,4567,8900,4332,5678,2344,1123])
plt.hist(a,bins=[0,10,20,30,40,50,60,70,80,90,100])                      # buckets
plt.title("Histograms")
plt.show()

In [ ]:
import numpy as np
from matplotlib import pyplot as plt
x=np.arange(0,3*np.pi,0.1)
y=np.sin(x)
z=np.cos(y,z)
plt.plot(x,y,z)
plt.show()

In [ ]:
from matplotlib import pylab

In [ ]:
print(plt.__version__)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
x=np.linspace(0,10,10)
y=x*x+2
print(x)
print(y)

In [ ]:
print(np.array([x,y]).reshape(10,2).reshape(5,4))

In [ ]:
# command to draw

pylab.plot(x,y,'r')

In [ ]:
# drawing a subgraph

pylab.subplot(1,1,1)                  # pylab for images-row,col,ind
pylab.plot(x,y,'r--')

In [ ]:
pylab.subplot(1,1,1)
pylab.plot(y,x,'g--')

In [ ]:
pylab.subplot(1,2,2)               # row , col, ind
pylab.plot(y,x,'g--')              # data,color,style

In [ ]:
from matplotlib import pyplot as plt
import numpy as np

In [ ]:
from matplotlib import pyplot as plt

fig=plt.figure()
axes=fig.add_axes([0.5,0.1,0.8,0.8])

axes.plot(x,y,'r--')

In [ ]:
# subgraphs

fig,axes=plt.subplots(nrows=1,ncols=2)
x=[1,2,3,4,5,6]
y=[x**2 for x in x]
for ax in axes:
    ax.plot(x,y,'r--')

In [ ]:
fig=plt.figure()
axes1=fig.add_axes([0.1,0.1,0.8,0.8])
axes2=fig.add_axes([0.2,0.5,0.5,0.3])

axes1.plot(x,y,'r--')
axes2.plot(y,x,'g--')

In [ ]:
fig=plt.figure(figsize=(16,9),dpi=300)
fig.add_subplot()
plt.plot(x,y,'r--')

In [ ]:
fig,axes=plt.subplots()
axes.set_title("title of graph")
axes.set_xlabel("X")
axes.set_ylabel("Y")
axes.plot(x,y,'r--')

In [ ]:
fig,axes=plt.subplots()
axes.set_title("title of graph")
axes.set_xlabel("X")
axes.set_ylabel("Y")
axes.plot(x,y,'r')
axes.legend(["x=x**2",'y=y**2'],loc=2)

In [ ]:
fig,axes=plt.subplots(dpi=150)
axes.plot(x,color='red',alpha=1)

In [ ]:
# Matplotlib is a desktop publishing package mainly designed for 2-d publication.
# Matplot is a python package for 2D plotting that generates production ready graphics.
# It supports interactive and non-interactive plotting and can save images in several output formats.
# It provides a wide variety of plots such as line,histogram and pie-charts.

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
x=np.arange(1,10)
print(x)
plt.plot(x)

In [ ]:
x=np.arange(1,10)
y=[x**2 for x in x]
print(x,y)
plt.plot(x,y)

In [ ]:
x=np.arange(1,10)
plt.plot(x,[x**2 for x in x])

In [ ]:
x=np.arange(1,10)
print(x,y)
plt.plot(x,[x**2 for x in x])
plt.plot(x,[x**3 for x in x])
plt.plot(x,[x**4 for x in x])

In [ ]:
# grid()  -  It displays the grid,by def True.

x=np.arange(5,6,0.1)
print(x)
plt.plot(x)
plt.grid(True)

In [ ]:
# xlabel - It will display label of x axis
# ylabel - It will display label of y axis

plt.plot(x,[x**2 for x in x])
plt.grid(True)
plt.xlabel("X Axis")
plt.ylabel("Y Axis")

In [ ]:
# Title - It displays the title of the graph

plt.plot(x,[x**3 for x in x])
plt.grid(True)
plt.title("MyGraph")
plt.xlabel("X")
plt.ylabel("Y")

In [ ]:
# axis - It displays the axis. We can also provide own axis

In [ ]:
plt.plot(x,[x*25 for x in x])
plt.title("Graph")
plt.axis([4.5,6.5,100,150])
print([x*25 for x in x])

In [ ]:
x=np.arange(1,10)

plt.plot(x,[x**2 for x in x],label='y=x*2')
plt.plot(x,[x**3 for x in x],label='y=x*3')
plt.plot(x,[x**4 for x in x],label='y=x**4')

plt.legend()

In [ ]:
x=np.arange(0.0,6.0,0.01)

plt.plot(x,[x**2 for x in x],label='sq')
plt.plot(x,[x**3 for x in x],label='cube')
plt.plot(x,[x**4 for x in x],label='4th')

plt.legend()
plt.legend(loc='upper left')

In [ ]:
# customized - line,color and marker

x=np.arange(0.0,6.0,0.01)

plt.plot(x,[x**2 for x in x],'r--',label='Square')
plt.plot(x,[x**3 for x in x],'y--',label='Cube')
plt.plot(x,[x**4 for x in x],'g--',label='4th Power')

plt.legend(loc='center')

In [ ]:
x=np.arange(0,6,1)

plt.plot(x,[x**2 for x in x],'r--',label='sq')
plt.plot(x,[x**3 for x in x],'y-D',label='cube')
plt.plot(x,[x**4 for x in x],'g:',label='4th power')
plt.legend()

In [ ]:
# color, line and marker

x=np.arange(1,25)

plt.plot(x,[x*2 for x in x],'r-s',label='square')
plt.plot(x,[x*3 for x in x],'y-D',label='Cube')
plt.plot(x,[x*4 for x in x],'g:+',label='4th power')

plt.legend()

In [ ]:
# histogram - hist()-- quantitative/continuos

x=np.random.randn(1000)
plt.hist(x)

In [ ]:
plt.bar([1,2,3,6],[3,2,5,1])

In [ ]:
# piechart -- pie()

plt.figure(figsize=(50,50))
names=['Rs','Js','Ps','Gs']
score=[78,90,99,45]
plt.pie(score,labels=names,autopct='%2.1f%%')

In [ ]:
# scatterplot - Two continuous columns

In [ ]:
x=np.random.randn(200)
y=np.random.randn(200)
plt.scatter(x,y)

In [ ]:
x=np.arange(1,10)
plt.plot(x)
plt.text(1.5,6,"lineGraph")          #x,y

In [ ]:
x=np.random.randint(0,10,2)
plt.figure()
plt.hist(x)

In [ ]:
# subplotting - dividing plots

In [ ]:
fig,axes=plt.subplots(2,2,figsize=(8,8))
axes[1,1].plot(x,[x**2 for x in x])

In [ ]:
fig,axes=plt.subplots(2,2,figsize=(8,8))
axes[0,1].plot(x,[x*2 for x in x])

In [ ]:
areas=['Marketing','Sales','Development','Hr','Customer Support']
budget=[2.5,4,4,4.6,6.5]
plt.pie(budget,labels=areas,autopct="%1.1f%%")
plt.title("Pie-chart")
plt.show()

In [ ]:
x=[23,45,67,89]
y=[82,13,14,15]
plt.scatter(x,y)

In [ ]:
age=[2,10,15,16]
salary=[20000,10000,50000,30000]
plt.bar(age,salary,color="yellow")
plt.xlabel("Age")
plt.ylabel("Salary")
plt.title("AGe vs Salary")
plt.show()

In [ ]:
product_id=[1,2,3,4,5,6,7,8]
online_p=[233,456,770,120,222,444,200,200]
plt.plot(product_id,color='red',marker='D',label='product_id')
plt.plot(online_p,color='blue',marker='+',label='online_p')
plt.plot(product_id,online_p,color='green',marker='D',label='online_p')
plt.legend()
plt.xlabel("Products")
plt.ylabel("Prices")
plt.title("Products vs Price")

In [ ]:
year=[2012,2013,2014,2015,2016,2017,2018,2019,2020]
price=[2000,3000,4000,5000,6000,7000,8000,9000,10000]
plt.bar(year,price,color='green',label="Price")
plt.legend()
plt.xlabel("year")
plt.ylabel("Price")
plt.title("year vs price")
plt.show()

In [ ]:
from scipy import stats
import pandas as pd
import seaborn as sns 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# import the data

df=sns.load_dataset("iris")
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df['species'].value_counts()

In [ ]:
setosa=df[(df['species']=='setosa')]
setosa.shape

In [ ]:
versicolor=df[(df['species']=='versicolor')]
versicolor.shape

In [ ]:
virginica=df[(df['species']=='virginica')]
virginica.shape

In [ ]:
setosa['sepal_width']=setosa['sepal_width'].sample(28)
versicolor['sepal_width']=versicolor['sepal_width'].sample(28)

In [ ]:
print(np.mean(setosa['sepal_width']))
print(np.mean(versicolor['sepal_width']))

In [ ]:
H0="Mean value of both distributions is same"
H1="Mean value is different"

In [ ]:
tvalue,pvalue=stats.ttest_ind(setosa['sepal_width'], versicolor['sepal_width'])

In [ ]:
pvalue

In [ ]:
tvalue

In [ ]:
# skewness/kurtosis
data = pd.read_csv("C:\\Users\\hp\\Documents\\DaTa sci\\STATISTICS\\housing data.csv")
data

In [ ]:
data.shape

In [ ]:
data['SalePrice'].head()

In [ ]:
sns.distplot(data['SalePrice'])
print('Skewnewss: ',data['SalePrice'].skew())
print('Kurtosis: ',data['SalePrice'].kurtosis())
plt.show()
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# ztest

In [ ]:
data[data['OverallQual']<=5]['SalePrice']

In [ ]:
price_a=data[data['OverallQual']<=5]['SalePrice']
price_b=data[data['OverallQual']<=5]['SalePrice']

In [ ]:
data[data['OverallQual']<=5]['SalePrice']

In [ ]:
print(price_a)

In [ ]:
from statsmodels.stats.weightstats import ztest

In [ ]:
z_score,p_val = ztest(price_a,price_b)
if p_val>0.05:
    print('Ho: is True (There is no difference in price on the basis of Overall Qual)')
else:
    print('Ha: is True (The sales price different because of overall Qual)')

In [ ]:
print(p_val)

In [ ]:
print(z_score)

In [ ]:
# chi-square test

In [ ]:
data['GarageType'].value_counts()

In [ ]:
data['GarageCars'].value_counts()

In [ ]:
from scipy.stats import chi2_contingency

In [ ]:
observed=pd.crosstab(data['GarageCars'],data['GarageType'])
observed

In [ ]:
chi,p_val,dof,expected = chi2_contingency(observed)

In [ ]:
expected

In [ ]:
if p_val>0.05:
    print('Ho: is True (Garage cars is independent of garage type)')
else:
    print('Ha: is True (Garage cars is dependent of garage type)')

In [ ]:
p_val

In [ ]:
# Anova

df=sns.load_dataset("iris")
df

In [ ]:
setosa=df[df["species"]=='setosa']['petal_length']
versicolor=df[df["species"]=='versicolor']['petal_length']
virginica=df[df["species"]=='virginica']['petal_length']

In [ ]:
H0="mean value of petal_length of setosa,versicolor,virginica is same"
H1="mean value of petal_length of setosa,versicolor,virginica is different"

In [ ]:
import scipy.stats as stats

In [ ]:
fvalue,pvalue=stats.f_oneway(setosa,versicolor,virginica)
print(fvalue,pvalue)

In [ ]:
if pvalue>=0.05:
    print(H0)
else:
    print(H1)

In [ ]:
sns.boxplot(y=df['sepal_length'])

In [ ]:
Q1=np.percentile(df['sepal_length'],q=25)
Q3=np.percentile(df['sepal_length'],q=75)
IQR=Q3-Q1
IQR

In [ ]:
IQR=np.percentile(df['sepal_length'],q=75)-np.percentile(df['sepal_length'],q=25)

In [ ]:
IQR

In [ ]:
lb=Q1-1.5*IQR
lb

In [ ]:
up=Q3+1.5*IQR
up

In [ ]:
# seaborn

In [2]:
import pandas as pd
import numpy as np

In [3]:
mt=pd.read_csv("C:\\Users\\hp\\Downloads\\Mtcars_New.csv")
mt

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,Category
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,A
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,B
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,C
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,B
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,C
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,A
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,B
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,C
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,A
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,B
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,C
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,B
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,C
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,A
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,NaN
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,C
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,B
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,C
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,A
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,B
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,C
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,NaN
22,AMC Javelin,NaN,8,304.0,150,3.15,3.435,17.30,0,0,3,2,B
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,C
24,Pontiac Firebird,NaN,8,400.0,175,3.08,3.845,17.05,0,0,3,2,B
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,C
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,A
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,B
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,C
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,B
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,C
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,A

In [5]:
for i in range(1,11):
    if i%2==0:
        print(i**2)

4
16
36
64
100

In [ ]:
mt.isna().sum()

In [ ]:
mt['mpg'].fillna(20,inplace=True)

In [ ]:
mt['Category'].fillna('A',inplace=True)

In [ ]:
mt.isna().sum()

In [12]:
mt.min()[1:]+mt.max()[1:]

C:\Users\hp\AppData\Local\Temp\ipykernel_18168\901559429.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mt.min()[1:]+mt.max()[1:]

mpg      44.3
cyl        12
disp    543.1
hp        387
drat     7.69
wt      6.937
qsec     37.4
vs          1
am          1
gear        8
carb        9
dtype: object

In [7]:
mt.max()

C:\Users\hp\AppData\Local\Temp\ipykernel_18168\1183653591.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mt.max()

name    Volvo 142E
mpg           33.9
cyl              8
disp         472.0
hp             335
drat          4.93
wt           5.424
qsec          22.9
vs               1
am               1
gear             5
carb             8
dtype: object

In [24]:
mt.groupby('gear')['am'].value_counts().unstack()

am       0    1
gear
3     15.0  NaN
4      4.0  8.0
5      NaN  5.0

In [25]:
mt.groupby(['Category','name'])['am'].sum()

Category  name
A         Honda Civic            1
          Mazda RX4              1
          Merc 230               0
          Merc 450SLC            0
          Porsche 914-2          1
          Valiant                0
          Volvo 142E             1
B         AMC Javelin            0
          Chrysler Imperial      0
          Duster 360             0
          Ferrari Dino           1
          Hornet 4 Drive         0
          Lotus Europa           1
          Mazda RX4 Wag          1
          Merc 280               0
          Merc 450SE             0
          Pontiac Firebird       0
          Toyota Corolla         1
C         Camaro Z28             0
          Datsun 710             1
          Fiat 128               1
          Fiat X1-9              1
          Ford Pantera L         1
          Hornet Sportabout      0
          Lincoln Continental    0
          Maserati Bora          1
          Merc 240D              0
          Merc 280C              0
          Merc 450SL             0
          Toyota Corona          0
Name: am, dtype: int64

In [ ]:
mt.groupby('cyl')['mpg'].mean()

In [ ]:
def cal(mi,ma,med):
    mi=mt.min()
    ma=mt.max()
    med=mt.median()
    return mi,ma,med

In [ ]:
mt(mi)

In [ ]:
mt['sq']=mt['wt']**2
mt['sq']

In [ ]:
sqmpg=mt['mpg']**0.5
sqdis=mt['disp']**0.5
sqhp=mt['hp']**0.5

In [ ]:
def sq(n):
    sq=n**0.5
    return sq

In [ ]:
x=sq(mt['mpg'])
x

In [ ]:
y=sq(mt['disp'])
y

In [ ]:
z=sq(mt['hp'])
z

In [ ]:
y=mt['sqx']=x
y

In [ ]:
z=mt['sqy']=y
z

In [ ]:
x=mt['sqz']=z
x

In [ ]:
rowiseconcat=pd.concat([mt,x,y,z],axis=0) 
rowiseconcat.head()

In [ ]:
func=pd.concat([rowiseconcat,mt],axis=0)
func

In [1]:

def func(*x):
    for i in func(*x):
        if sum(*x)%2==0:
            print('sum:',sum(*x))
            print(sum(*x),'is even')
        else:
            print('sum:',sum(*x))
            print(sum(*x),'is odd')

In [ ]:
func(20,30,40)

In [1]:
sales=4.5
units_pur=5
print(sales)
print(units_pur)

4.5
5

In [2]:
type(sales)

float

In [4]:
type(units_pur)

int

In [5]:
cap="I love playing cricket"
print(cap)

I love playing cricket

In [6]:
type(cap)

str

In [7]:
stu="Ashu"
print(stu)

Ashu

In [8]:
isstu=True
has_paid=False
print(isstu)
print(has_paid)

True
False

In [9]:
type(isstu)

bool

In [10]:
name="harish"
type(name)

str

In [11]:
print(name)

harish

In [15]:
x='12'
y=4.5
z="AMit"
a="banku"
print(x)
print(y)
print(z)
print(a)

12
4.5
AMit
banku

In [16]:
type(x)

str

In [17]:
type(y)

float

In [18]:
type(z)

str

In [19]:
type(a)

str

In [20]:
print("hello world")

hello world

In [21]:
type("hello world")

str

In [22]:
name='gary'
print(name)

gary

In [23]:
name='roger'
name='garry'
print(name)

garry

In [26]:
gary=harry=vary=24
print("gary:",gary)
print('harry:',harry)
print('vary',vary)

gary: 24
harry: 24
vary 24

In [27]:
name,age,salary='Jyoti','26','40000'
print(name)
print(age)
print(salary)

Jyoti
26
40000

In [28]:
sales=4.5
num=5
total=sales*num
print(total)
type(total)

22.5

float

In [30]:
price=250
tax="2.5"

total=price+float(tax)
print(total)

252.5

In [34]:
f="anamika "
l="sharma"
name=f+l
print(name)
type(name)

anamika sharma

str

In [36]:
f="anu"
l='kumari'
name=f+" "+l
print(name)
type(name)

anu kumari

str

In [43]:
print("hello","world",sep=',')

hello,world

In [45]:
price=2.50
tax='25'
total=int(price)+float(tax)
print(total)
type(total)

27.0

float

In [46]:
unit=52
str(unit)

'52'

In [47]:
has,isliv=1,0
bool(has)

True

In [48]:
bool(isliv)

False

In [50]:
type(has)

int

In [51]:
print("hello world")

hello world

In [52]:
print("hello","mr. thomas")

hello mr. thomas

In [54]:
comp=('CPU','MOUSE','keyboard')
print(comp)

('CPU', 'MOUSE', 'keyboard')

In [56]:
print("This is a boy")
print("\n")
print("This is a girl")

This is a boy


This is a girl

In [57]:
print("This is a boy \n this is a girl")

This is a boy
 this is a girl

In [58]:
print("python"+'is fun')

pythonis fun

In [59]:
print("python "+"is fun ")

python is fun

In [60]:
print("python"+" "+" is fun")

python  is fun

In [62]:
print("python","is really","fun",sep="  ")

python  is really  fun

In [64]:
print("I",'Like' ,'to', 'watch',"tv",sep=" ")

I Like to watch tv

In [66]:
val="singa "
count=3
res=val*count
print(res)

singa singa singa

In [70]:
college="kanpur"
count=10
colname=college*count
print(colname)

kanpurkanpurkanpurkanpurkanpurkanpurkanpurkanpurkanpurkanpur

In [71]:
total=2000
qty=100
price=total/qty
print(price)

20.0

In [72]:
total=589.8
qty=5
price=total//qty
print(price)

117.0

In [73]:
total=2700
qty=23
price=total%qty
print(price)

9

In [74]:
total=27890
qty=234
price=total%qty
print(price)

44

In [75]:
cost=123.45
qty=34
price=cost%qty
print(price)

21.450000000000003

In [76]:
total=13000
qty=23
price=total//qty
print(price)

565

In [77]:
total=13000.50
qty=23
price=total//qty
print(price)

565.0

In [78]:
sq_side=20
area=sq_side**2
print(area)

400

In [79]:
cube_side=20
area=cube_side**3
print(area)

8000

In [80]:
mul=400
vol=mul**4
print(vol)

25600000000

In [84]:
name=input("ENter your name :")
print("Welcome",name,"dear!")

ENter your name :Bunny
Welcome Bunny dear!

In [85]:
emp=input("Name:")
Id=input("id:")
Address=input("Address:")
print("Hi!: ",emp,Id,Address)

Name:Bunny
id:26
Address:Tigaon
Hi!:  Bunny 26 Tigaon

In [88]:
price=int(input("Enter Price: "))
qty=int(input("ENter qty: "))
total=price*qty
print(total)

Enter Price: 2000
ENter qty: 5
10000

In [90]:
price=(input("Enter Price: "))
qty=(input("ENter qty: "))
total=price*qty
print(total)

Enter Price: 5000
ENter qty: 4

TypeError: can't multiply sequence by non-int of type 'str'

In [91]:
price=float(input("ENter the price: "))
qty=int(input("Enter qty: "))
total=price*qty
print(total)

ENter the price: 30
Enter qty: 4
120.0

In [93]:
ketty=28
kenny=23
ketty==kenny

False

In [94]:
ketty<kenny

False

In [96]:
ketty>=kenny

True

In [97]:
ketty!=kenny

True

In [98]:
is_stu=True
in_col=True
in_sc=False
is_stu and in_col

True

In [99]:
is_stu and in_sc

False

In [100]:
is_stu or is_sc

True

In [101]:
not(in_sc)

True

In [103]:
vowels="aeiou"
print("u" in vowels)

True

In [104]:
print("j" in vowels)

False

In [105]:
print("u" not in vowels)

False

In [106]:
print("x" not in vowels)

True

In [107]:
num=10
(num%2==0)|(num%3==0)

True

In [108]:
(num%2==0)&(num%3==0)

False

In [109]:
a=2
b=3
a+=b
print(a)

5

In [111]:
a-=b
print(a)

-1

In [113]:
a%=b
print(a)

2

In [115]:
a//=b
print(a)

0

In [118]:
num=8
if(num>0):
    print(num,"is greater")
    print("printed")

8 is greater
printed

In [121]:
num=-1
if(num>0):
    print(num,"is smaller")
print("num")                    #works as else

num

In [123]:
num=-1
if(num>0):
    print(num,"is greater than zero")
else:
    print(num,"is smaller than zero")
    print("This is always printed")

-1 is smaller than zero
This is always printed

In [125]:
num=-8
if(num>0):
    print(num,"is greater than zero")
else:
    print(num,"is less than zero")
print("This is always printed")

-8 is less than zero
This is always printed

In [126]:
age=int(input("Enter age: "))
if(0<age<3):
    print("No fares for 0-3")
elif(3<age<10):
    print("Bus fare is 20")
elif(10<age<20):
    print("Bus fare is 25")
else:
    print("Bus fare is 30")

Enter age: 8
Bus fare is 20

In [128]:
n1=49
n2=34
n3=56
if(n1>n2):
    print(n1,"is greater")
elif (n1<n2):
    print(n2,"is greater")
else:
    print(n3,"is greater")

49 is greater

In [129]:
n1=23
n2=23
n3=89
if(n1>n2):
    print(n1,"is greater")
elif (n1<n2):
    print(n2,"is greater")
else:
    print(n3,"is greater")

89 is greater

In [131]:
n1=23
n2=23
n3=23
if(n1>n2):
    print(n1,"is greater")
elif (n1<n2):
    print(n2,"is greater")
else:
    print(n3,"is greater")

23 is greater

In [135]:
user_id=input("Enter the number: ")
password=input("password: ")
if(user_id=='123'):
    if(password=='abc'):
        print("Password Accepted.Logged in")
else:
    print("Wrong password")

Enter the number: 1234
password: abc
Wrong password
wrong id

In [137]:
cheque=input("Enter the cheque no. :")
ifsc=input("IFSC : ")
Location=input("Location :")
if(cheque=='1234'):
    if(ifsc=='abc123'):
        if(Location=='Faridabad'):
            print('Cheque Verified')
        else:
            print("Cheque Bounced")

Enter the cheque no. :1234
IFSC : abc123
Location :gfgfhg
Cheque Bounced

In [140]:
user_id=input("Enter user id: ")
password=input("Password: ")
if(password=='abc1'):
    if(user_id=='123'):
        print("Verified")
    else:
        print("Not Verified")

Enter user id: 567
Password: abc

In [141]:
num=10
add=0
i=1

while(i<=num):
    add=add+i
    i=i+1
    
print("Addition: ",add)

Addition:  55

In [142]:
number=range(1,11)
add=0
for i in number:
    add=add+i
print("Addition is ",add)

Addition is  55

In [143]:
a=10
b=20
a=a+b
print(a)

30

In [145]:
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
Sum=a+b
print("Sum of two num is : ",Sum)

Enter the value of a: 8
Enter the value of b: 9
Sum of two num is :  17

In [147]:
def Sum(a,b):
    Sum=a+b
    return Sum
a=int(input("enter the value of a: "))
b=int(input("enter the value of b: "))
Sum(a,b)

enter the value of a: 6
enter the value of b: 7

13

In [148]:
def Sum(a,b):
    Sum=a+b
    return Sum
a=10
b=20
print(Sum(a,b))

30

In [150]:
def Sum(a,b):
    add=a+b
    return add
a=int(input("Enter the value of a: "))
b=int(input("ENter the value of b: "))
print(Sum(a,b))

Enter the value of a: 3
ENter the value of b: 5
8

In [154]:
a=10
b=20

sum=a+b
print("sum of {0} and {1} is :{2}".format(a,b,sum))

sum of 10 and 20 is :30

In [159]:
if __name__=="__main__":
    a=int(input("Enter the value of a: "))
    b=int(input("ENter the value of b: "))
    sum=lambda a,b:a+b
    print("Sum of {0} and {1} is : {2}".format(a,b,sum(a,b)))

Enter the value of a: 3
ENter the value of b: 4
Sum of 3 and 4 is : 7

In [160]:
a=float(input("Enter the value of a"))
b=float(input("Enter the value of b"))
c=float(input("Enter the value of c"))
if (a>b and a>c):
    print("a is greatest")
    
    if (b>a and b>c):
        print("b is greater")
else:
    print("c is greater")

Enter the value of a3
Enter the value of b5
Enter the value of c7
c is greater

In [163]:
a=5
b=5
c=5
print(max(a,b,c))

5

In [164]:
def max(a,b,c):
    if (a>b and a>c):
        return a
    if (b>a and b>c):
        return b
    else:
        return c
a=float(input("a: "))
b=float(input("b: "))
c=float(input("c: "))
print(max(a,b,c))

a: 3
b: 5
c: 7
7.0

In [168]:
def fact(n):
    if n<0:
        return 0
    elif n==1 or n==0:
        return 1
    else:
        fact=1
        while(n>1):
            fact=fact*n
            n=n-1
        return fact
n=int(input("Enter the val: "))
print("Factorial is : ",fact(n))
S

Enter the val: 5
Factorial is :  120

120

In [8]:
num=int(input("n: "))
if num>1:
    for i in range(2,num+1):
        if (num%i==0):
            print(num,"is not prime")
            break
        else:
            print(num,"num is prime")

n: 6
6 is not prime

In [15]:
l=int(input("enter : "))
u=int(input("enter: "))
print(l,"to",u)
for n in range(l,u+1):
    if n>1:
        for i in range(2,n):
            if (n%i)==0:
                break
        else:
            print(n)

enter : 2
enter: 10
2 to 10
2
3
5
7

In [17]:
n=int(input("n: "))
for n in range(2,n+1):
    if n>1:
        for i in range(2,n):
            if (n%2==0):
                break
        else:
            print(n)

n: 22
2
3
5
7
9
11
13
15
17
19
21

In [20]:
n=int(input("n: "))
def fact(n):
    if n<0:
        return 0
    if n==1 or n==0:
        return 1
    else:
        fact=1
        while(n>1):
            fact=fact*n
            n=n-1
        return fact
fact(n)

n: 5

120

In [1]:
def factorial(n):
    return 1 if n==0 or n==1 else n*factorial(n-1);
n=int(input("enter: "))
print("factorial: ")
factorial(n)

enter: 5
factorial:

120

In [8]:
def fibonacci(n):
    if n<=0:
        print("incorrect")
    elif n==1:
        return 1
    elif n==2:
        return 1
    else:
        return fibonacci(n-1)+(n-2)
    
n=int(input("n: "))
print("Ans: ",fibonacci(n))

n: 9
Ans:  29

In [10]:
def fibonacci(n):
    a=0
    b=1
    if n<=0:
        print("incorrect")
    elif n==1:
        return 1
    elif n==2:
        return 1
    else:
        for i in range(2,n):
            c=a+b
            a=b
            b=c
        return b
n=int(input("n: "))
print(fibonacci(n))

n: 6
5

In [11]:
char='g'
print(ord(char))

103

In [12]:
char=input("char: ")
for i in char:
    ascii=ord(i)
    print(i,"\t",ascii)

char: jyoti
j 	 106
y 	 121
o 	 111
t 	 116
i 	 105

In [15]:
def sq(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i*i
    return sum
n=int(input("enter: "))
print(sq(n))

enter: 6
91

In [16]:
def cube(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i**3
    return sum
n=int(input("enter: "))
cube(n)

enter: 3

36

In [18]:
# FUnctions

# def is used to create function

def greet():
    print("welcome")
    print("hi dear")
    print("call me")
greet()

welcome
hi dear
call me

In [23]:
def greet(x):
    print("hi",x)
    print("greet")
    print("call")
greet("jyoti")

hi jyoti
greet
call

In [24]:
def add(x,y):
    sum=x+y
    return sum
add(4,5)

9

In [27]:
def cir(r):
    area=3.14*r**2
    return area
cir(5)

78.5

In [28]:
def tem(c):
    f=c*(9/5)+32
    return f
tem(45)

113.0

In [29]:
# volume of cylinder

def cyl(r,h):
    vol=3.14*r**2*h
    print(vol)
cyl(3,5)

141.3

In [31]:
def eo(n):
    if (n%2==0):
        print("even")
    else:
        print("odd")
eo(89)

odd

In [32]:
eo(56)

even

In [33]:
def avg(x,y,z):
    avg=(x+y+z)/3
    print(avg)
avg(3,6,7)

5.333333333333333

In [34]:
avg(3,3,3)

3.0

In [35]:
def cubo(l,b,h):
    print("l:",l,"b:",b,"h:",h)
    vol=l*b*h
    print("Vol",vol)
cubo(2,3,4)

l: 2 b: 3 h: 4
Vol 24

In [36]:
cubo(8.9,5,7.9)

l: 8.9 b: 5 h: 7.9
Vol 351.55

In [45]:
def med(list):
    list=[13,14,11]
    print(list)
    list.sort()
    print("List: ",list)
    return list
med(list)

[13, 14, 11]
List:  [11, 13, 14]

[11, 13, 14]

In [46]:
def med(p,q,r):
    z=[p,q,r]
    z.sort()
    return z
med(2,9,4)

[2, 4, 9]

In [47]:
med(3,5,7)

[3, 5, 7]

In [48]:
def area(r):
    cir=2*3.14*r
    area=3.14*r**2
    print(cir)
    return cir,area
area(3)

18.84

(18.84, 28.26)

In [52]:
def si(p,r,t=2):
    si=p*r*t/100
    print(si)
si(1000,5)

100.0

In [74]:
def myfun(*n):
    mylis=list(n)
    print("original",mylis)
    mylis.sort()
    print("sorted list",mylis)
    return mylis[-1]

myfun(12,46,13,89,9,56,34)

original [12, 46, 13, 89, 9, 56, 34]
sorted list [9, 12, 13, 34, 46, 56, 89]

89

In [82]:
len([2,3,4,5,6,7,8])

7

In [99]:
def med(*n):
    myl=list(n)
    myl.sort()
    count=len(n)
    if count%2==0:
        i1=int(count/2)
        i2=int(count/2+1)
        median=((myl[i1-1]+myl[i2-1]))/2
    else:
        i=int((count+1)/2)
        median=myl[i-1]
    return median
med(34,67,89,45,67,89)

TypeError: 'list' object is not callable

In [102]:
def marks(**n):
    print(n)
marks(ram=20,shyam=50)

{'ram': 20, 'shyam': 50}

In [103]:
sum=lambda x1,x2:x1+x2

In [104]:
sum(3,4)

7

In [105]:
sum(56,78)

134

In [106]:
si=lambda p,r,t:(p*r*t)/100
si(4000,5,2)

400.0

In [107]:
cube=lambda a:a**3
cube(6)

216

In [108]:
area=lambda r:3.14*r**2
area(10)

314.0

In [110]:
dis=lambda name: "Welcome "+name
dis("Jyoti")

'Welcome Jyoti'

In [113]:
greet=lambda *name:print("welcome",name)
greet("jyoti","sharma")

welcome ('jyoti', 'sharma')

In [115]:
eo=lambda n:print("even") if n%2==0 else print("odd")
eo(6)

even

In [120]:
mylist=[12,23,34,56,67,78]
list=[]
for i in mylist:
    if i%2==0:
        list.append(i)
print(list)

[12, 34, 56, 78]

In [126]:
mylist=[12,23,34,56,67,78]
list(filter(lambda x:x%2==0,mylist))

TypeError: 'list' object is not callable

In [130]:
mylist=[12,"a","b",23,34,True,56,67,78]
list(filter(lambda x:type(x)==str,mylist))

TypeError: 'list' object is not callable

In [128]:
mylist=[12,23,34,56,67,78]
list(map(lambda x:x**2,mylist))

TypeError: 'list' object is not callable

In [ ]:
# WAP a program that will tell whether the no entered by the user is even or odd.
# WAP a program that will tell whether the given no is a leap year or not.
# WAP a program to find the Euclidean distance between the two coordinates.
# WAP a program to find out whether it can form a triangle or not.
# WAP a program that take a user input of cost price and selling price and determineas whether its a loss or profit.

In [131]:
n=int(input("Enter n: "))
if (n%2==0):
    print(n,"is even")
else:
    print(n,"is odd")

Enter n: 4
4 is even

In [132]:
year=int(input("Enter: "))
if (year%400==0) and (year%100==0):
    print(year,"is leap year")
elif (year%400==0) and (year%100!=0):
    print(year,"is leap year")
else:
    print(year,"is not a leap year")

Enter: 1997
1997 is not a leap year

In [136]:
def eu(x1,x2,y1,y2):
    eucli=((x2-x2)+(y2-y1))*0.5
    return eucli
eu(3,4,5,6)

0.5

In [139]:
def tri(a,b,c):
    if (a+b+c)==180:
        print("perfectly triangle")
    else:
        print("not a traiangle")
tri(60,30,90)

perfectly triangle

In [140]:
def find(c,s):
    if s>c:
        print("profit")
    elif s<c:
        print("loss")
    else:
        print("nothing")
find(45,78)

profit

In [142]:
check=lambda cp,sp:print("profit") if sp>cp else print("loss")
check(45,90)

profit

In [ ]:
#r: read operation
# w: write operation
# a: append function
# r+: read and write the previous data will not be deleted 
# w+ :To write and read.  Overrite . Previous data will be deleted.
# a+ : append and read the data. Not overrite

In [1]:
# open() : to open the file

file=open("C:\\Users\\hp\\Documents\\fox.txt")
file

In [2]:
# read() -- to read the file

file.read()

'The quick brown fox jumps over the lazy dog.\nThe quick brown fox jumps over the lazy dog.\nThe quick brown fox jumps over the lazy dog.\nThe quick brown fox jumps over the lazy dog.\nThe quick brown fox jumps over the lazy dog.\nThe quick brown fox jumps over the lazy dog.\n'

In [4]:
# readline() -- to read the file line by line

file=open("C:\\Users\\hp\\Documents\\fox.txt")
file.readline()

'The quick brown fox jumps over the lazy dog.1\n'

In [5]:
# if we run again .. cursor will move to second line

file.readline()

'The quick brown fox jumps over the lazy dog.2\n'

In [6]:
file.read()

'The quick brown fox jumps over the lazy dog.3\nThe quick brown fox jumps over the lazy dog.4\nThe quick brown fox jumps over the lazy dog.5\nThe quick brown fox jumps over the lazy dog.6\n'

In [9]:
file.read(2)

''

In [11]:
file=open("C:\\Users\\hp\\Documents\\fox.txt",'r')
file

In [12]:
file=open("C:\\Users\\hp\\Documents\\fox.txt",'w')
file
# write mode , 'w' -- it overrites...deletes the previous and write 
# new data

In [14]:
# write() -- to write into file. It overrites if opened in write mode.
file.write("I am writing new file in my old file.")
file.write("This is further to above line")
file.write("I am adding one more line in my current file")

44

In [15]:
# close()-- to close the file
file.close()

In [17]:
file=open("C:\\Users\\hp\\Documents\\fox.txt",'r')
file

In [18]:
file=open("C:\\Users\\hp\\Documents\\fox.txt",'a')
file
# adds new lines with previous lines.

In [19]:
file=open("C:\\Users\\hp\\Documents\\fox.txt",'a')

In [20]:
file.write("I am writing \n")
file.write("one more \n")
file.write("New line \n")
# shows no of characters in last line.

10

In [24]:
file=open("C:\\Users\\hp\\Documents\\fox.txt",'r+')
file.read()

'I am writing new file in my old file.This is further to above lineI am writing new file in my old file.This is further to above lineI am adding one more line in my current fileI am writing \none more \nNew line \n'

In [26]:
file.write("I am adding \n")
file.write(" I want to understand \n ")

24

In [27]:
file.close()

In [29]:
file=open("C:\\Users\\hp\\Documents\\fox.txt",'w+')
file

In [30]:
file.write(" I am ")
file.write("I want ")

7

In [33]:
file.readline()

''

In [34]:
file.close()

In [35]:
n1=int(input("n1: "))
n2=int(input("n2: "))
res=n1/n2
print(res)

n1: 3
n2: 3
1.0

In [37]:
n1=int(input("n1: "))
n2=int(input("n2: "))
res=n1/n2
print(res)

n1: 3
n2: 0

ZeroDivisionError: division by zero

In [38]:
# getcwd -- get current working directory
os.getcwd()

NameError: name 'os' is not defined

In [39]:
file=open("newfile1.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'newfile1.txt'

In [43]:
# try -- we write that piece of code that will give us error.
n1=int(input("n1: "))
n2=int(input("n2: "))
try:
    res=n1/n2    #error will be thrown from here.error created from here.
    print(res)
except ZeroDivisionError:
    print("cannot")

n1: 3
n2: 0
cannot

In [45]:
n1=int(input("n1: "))
n2=int(input("n2: "))
try:
    res=n1/n2
    print(res)
except Exception:
    print("cannot")

n1: 9
n2: 0
cannot

In [54]:
n1=int(input("enter n1: "))
n2=int(input("enter n2: "))
try:
    res=int(n1)/int(n2)
    print(res)
except ValueError:
    print("Cannot")
except ZeroDivisionError:
    print("can")

enter n1: 3
enter n2: 0
can

In [53]:
num1=input("Enter a no :")
num2=input("Enter a no :")
try:
    result=int(num1)/int(num2)  
    print(result)
except ValueError:                  #in case we have two errors
    print("Cannot be divided")
except ZeroDivisionError:
    print("Cannot be divided")

Enter a no :3
Enter a no :0
Cannot be divided

In [61]:
n1=input("n1: ")
n2=input("n2: ")
try:
    res=int(n1)/int(n2)
    print(res)
except(ValueError,ZeroDivisionError):
    print("cannot")
else:
    print("Res")

n1: 9
n2: 9
1.0
Res

In [1]:
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
    i += 1

1
2

In [2]:
 i = 0
while i < 5:
    print(i)
    i += 1
    if i == 3:
        break
else:
    print(0)

0
1
2

In [3]:
z=set('abc$de')
'a' in z

True

In [ ]:
# print

In [37]:
print("hello world")

hello world

In [38]:
print("india","pok","uk","us")

india pok uk us

In [39]:
print("india","pok","uk","us",sep=',')

india,pok,uk,us

In [40]:
print("hello")
print("world")
# by def end=\n

hello
world

In [41]:
print("hello",end=" ")  # same line
print("world")

hello world

In [6]:
# data types:
# basic(int,float,complex,bool,str)
# container(list,tuples,sets and dictionary)
# user defined(class-oop)

In [42]:
# integer- any number
print(1e307)

1e+307

In [43]:
print(1e309)   # 10 pow(309)

inf

In [44]:
# float
print(4.5)

4.5

In [45]:
print(1.7e308)

1.7e+308

In [46]:
print(1.7e309)

inf

In [47]:
# boolean - True/False
print(True)
print(False)

True
False

In [48]:
# complex
print(4+5j)

(4+5j)

In [49]:
# string
print('kolkatta')
print("hi")

kolkatta
hi

In [50]:
# List

In [51]:
print([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]

In [52]:
# tuple

In [53]:
print((1,2,3,4,5,6))

(1, 2, 3, 4, 5, 6)

In [54]:
# set

In [55]:
print({1,2,3,4,5,6})

{1, 2, 3, 4, 5, 6}

In [56]:
# dictionary

In [57]:
print({'name':'jyoti','age':26,'gender':'female'})

{'name': 'jyoti', 'age': 26, 'gender': 'female'}

In [58]:
# comments ->  A simple piece of code that is not executable by 
#               compiler or interpreter.To enhance code readability.

In [59]:
# Variables are containers for future use.

In [60]:
name='jyoti'

In [61]:
type(name)

str

In [62]:
print(name)

jyoti

In [63]:
name='hello'

In [64]:
print(name)

hello

In [65]:
#  no variable declaration

In [75]:
# Dynamic typing - no need to decalare data type.(support in python) 
# static typing - need to specify data type.(not support in python)

In [76]:
print(name)

True

In [77]:
name=4
print(name)

4

In [78]:
name=True

In [79]:
print(name)

True

In [71]:
# last input print

In [80]:
 # Dynamic binding -A variable store multiple data types.
# static binding - once data type is bind once throughout the lifetime that var remains same in other lang like c.

In [81]:
 # special declaration syntax
a=5;b=6;c=7

In [82]:
print(a)
print(b)
print(c)

5
6
7

In [83]:
a,b,c=4,5,6
print(a)
print(b)
print(c)

4
5
6

In [84]:
a=b=c=6
print(a)
print(b)
print(c)

6
6
6

In [85]:
# keywords & identifiers in python.
# Python is a case-sensitive language.
# In programming, a keyword is a word that is reserved by a program because the word
# has a special meaning. Keywords can be commands or parameters. Every programming language has a set of
# keywords that cannot used as variable names.

In [86]:
# HLL to LLL- done by compiler / interpreter convert to 1/0 form.
# Python has 33 keywords

In [87]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [88]:
# Identifiers - A python identifier is a name used to identify a variable, function,class, module or other objects.

In [89]:
# Rules:
# Can only start with an alphabet or ' _ '
# Followed by 0 or more letter, _and digits.
# keywords cannot be used as an identifiers.

In [74]:
_='jyoti'
print(_)

jyoti

In [76]:
# taking input from user.
# unidirectional/static software - clock,calendar(cannot revert to machine)
# dynamic software - youtube(search <- result ),ordering food

In [90]:
input(prompt='hi')

hiuhjhjhj

'uhjhjhj'

In [91]:
input('hi')

hijnjn

'jnjn'

In [92]:
input('enter 1st num :')

enter 1st num :u8

'u8'

In [83]:
first=input('1st num: ')
second=input('2nd: ')

1st num: 45
2nd: 56

In [84]:
print(first)

45

In [85]:
print(second)

56

In [87]:
result=first+second
print(result)   # literally add...data type not defined.....by default..it is string format.(universal format)

4556

In [89]:
# type
type(4)

int

In [90]:
type(4.5)

float

In [91]:
type(6+7j)

complex

In [92]:
type(first)

str

In [93]:
# data type conversion
# implicit -> when python automatically does type conversion.
# explicit -> when python needs type conversion.

In [94]:
4+5.5    # implicit

9.5

In [95]:
5+6+7j

(11+7j)

In [99]:
# explicit
int(4.5)        # float to integer

4

In [100]:
int('4')

4

In [101]:
float(4)

4.0

In [102]:
str(5)

'5'

In [103]:
bool(1)

True

In [105]:
complex(4)

(4+0j)

In [106]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [109]:
a=5.6

In [110]:
# type conversion is not permanent
int(a)

5

In [111]:
a

5.6

In [114]:
first=input("enter 1st: ")
scnd=input("enter 2nd: ")
res=int(first)+int(scnd)
print(res)

enter 1st: 3
enter 2nd: 4
7

In [115]:
#  literals : Literal is a raw data given in a variable. In python, there are a various types of literals. They are as follows:
#  Numeric, String,Boolean, Special.

In [116]:
# Numeric:
a=0b1010    # binary literals
b=100       # decimal literals
c=0o310     # octal literals
d=0x12c     # hexadecimal literals

In [117]:
# float literal
float_1=10.5
float_2=1.5e2
float_3=1.5e-3

In [118]:
# complex literal
x=3.14j

In [121]:
print(a,b,c,d,sep=',')

10,100,200,300

In [122]:
print(a)
print(b)
print(c)
print(d)

10
100
200
300

In [124]:
print(float_1,float_2,float_3,sep=", ")

10.5, 150.0, 0.0015

In [126]:
print(x,x.imag,x.real,sep=',')

3.14j,3.14,0.0

In [93]:
#   string literals 
string='This is Python'
strings="This is Python"
char="C"
multiline_str="""This is a multiline string with more than one line code."""
unicode=u"\U0001f600\U0001F606\U0001F923"
raw_str=r"raw \n string"

In [94]:
print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

In [ ]:
# Boolean Literal

In [95]:
a=True+4   # True=1 in bool
b=False+10  # False=0 in bool

print(a)
print(b)

5
10

In [96]:
# Special Literal

In [97]:
a=None             # 
print(a)

None

In [98]:
c=34+45
c

79

In [99]:
 # in such scenarios when the value of variable is not given, keep 'None'.

In [101]:
# Operators : Operators are used to perform operations on variables and values.
             # Python has following operators:
#  Arithmetic,Comparison, Logical,Bitwise, Assignment, Identity, Membership operators.

In [102]:
x=5
y=2
print(x+y)

7

In [103]:
print(x-y)

3

In [104]:
print(x*y)

10

In [105]:
print(x%y)

1

In [106]:
print(x**y)

25

In [107]:
print(x//2)

2

In [108]:
print(x>y)

True

In [109]:
print(x<y)

False

In [110]:
print(x<=y)

False

In [111]:
print(x==y)

False

In [112]:
print(x!=y)

True

In [113]:
# Logical operators
x=True
y=False
print(x or y)

True

In [114]:
print(x & y)

False

In [115]:
print(not x)

False

In [116]:
print(not y)

True

In [117]:
# Bitwise operators

x=2
y=3
print(x&y)

2

In [119]:
# binary of 
# x=010
# y=110
#  -------
#   010(and operation)

In [120]:
print(x|y)

3

In [121]:
print(x>>2)

0

In [122]:
print(y<<3)

24

In [123]:
# Assignment operator

a=3
print(a)

3

In [124]:
a+=3
print(a)

# a=a+3

6

In [125]:
a*=3

In [130]:
a*=3

In [131]:
a&=3

In [132]:
a=a+3
a+=3

In [136]:
# identity operators

a=3
b=3
print(a is b)         # same memory location so identical

True

In [137]:
a='hello'
b='hello'
print(a is b)

True

In [138]:
a=[1,2,3]
b=[1,2,3]
print(a is b)
#  It doesnt matter that same things lie on same location.

False

In [139]:
a='hello-world'
b='hello-world'

print(a is b)

False

In [140]:
a='hello-world'
b='hello-world'

print(a is not b)

True

In [141]:
#  membership operator

x="delhi"
print('d' in x)

True

In [142]:
print('d' not in x)

False

In [143]:
x=[1,2,3]
print(5 in x)
# List,tuple,dictionary,set --> are not sharing same location.

False

In [144]:
# if-else statements - Decision Control Statements

In [145]:
# Correct email - imsharmajyoti4@gmail.com
# password - 1234
email=input("email : ")
if '@' in email:
    password=input("password : ")
    if email=="imsharmajyoti4@gmail.com" and password=="1234":
        print("Welcome",u"\U0001f600")
    elif email=="imsharmajyoti4@gmail.com" and password!="1234":
        print("Password Incorrect")
        password=input("Again enter the password")
        if password=="1234":
            print("Finally Correct",u"\U0001f600")
        else:
            print("Still Incorrect")
    else:
        print("Incorrect Credentials")

email : imsharmajyoti4@gmail.com
password : 1234
Welcome 😀

In [146]:
# indentation 
name='xyz'
if name=='xyz':
    print("line1")
    print("line2")
else:
    print("line3")
    
# due to code readability... when working in team. So, braces, semi-colon has not used.

line1
line2

In [ ]:
# use of loops -->